<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.svg" sizes="any" type="image/svg+xml">

    <!-- Boostrap CSS -->
    <link rel="stylesheet" type="text/css" href="3rd/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="3rd/css/daterangepicker.css" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" type="text/css" href="3rd/css/fontawesome.css"/>

    <!-- App CSS -->
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <script type="text/javascript" src='3rd/js/sprintf.min.js'></script>

    <title>{{translate "Lightmeter ControlCenter"}}</title>
</head>

<body class="d-flex flex-column min-vh-100" onload="setupApplicationInfo()">

<header>
    <div class="navbar">
        <div class="container d-flex justify-content-between">
            <a class="logo navbar-brand d-flex align-items-center" href="/" title="Home">
                <img src="img/logo-color-120.png" alt="Lightmeter logo" />
            </a>
            <span class="buttons">
                <i class="fas fa-cog" onclick="window.location.href='/settingspage';" data-toggle="tooltip" data-placement="bottom" title="Settings" onclick="_paq.push(['trackEvent', 'Settings', 'clickHeaderButton']);"></i>
                <span data-toggle="modal" data-target="#aboutModal">
                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Information" onclick="_paq.push(['trackEvent', 'About', 'clickHeaderButton']);"></i>
                </span>
                <i class="fas fa-sign-out-alt" onclick="window.location.href='/logout';" data-toggle="tooltip" data-placement="bottom" title="Log out" onclick="_paq.push(['trackEvent', 'Logout', 'clickHeaderButton']);"></i>
            </span>

            <!-- About modal -->
            <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="aboutModalLabel">{{translate "About"}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{translate "Lightmeter Control Center"}}
                            <br/>
                            <span id="release-info"></span>
                            <br/>
                            <br/>
                            <ul>
                                <li><a href="https://lightmeter.io/?pk_campaign=lmcc&pk_source=webui" target="_blank">{{translate "Website"}}</a></li>
                                <li><a href="https://gitlab.com/lightmeter" target="_blank">GitLab</a></li>
                                <li><a href="https://phplist.lightmeter.io/lists/?p=subscribe&id=1" target="_blank">{{translate "Newsletter"}}</a></li>
                                <li><a href="https://twitter.com/lightmeterio" target="_blank">Twitter</a></li>
                                <li><a href="https://mastodon.social/@lightmeter/" target="_blank">Mastodon</a></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-cancel" data-dismiss="modal">{{translate "Close"}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>

<div id="settings" class="container main-content">
    <h2 class="form-heading">{{ translate "Settings" }}</h2>
    <div class="form-container">
        <h6 class="form-heading">{{ translate "Notifications" }}</h6>
        <form id="notifications-form-container">
            <div class="slack-disabler form-group">
                <label class="form-label">{{ translate "Slack notifications" }}</label><br>
                <div class="form-check form-check-inline">
                    <input class="messenger_enabled form-check-input" type="radio" name="messenger_enabled" id="messenger_enabled_1" value="true" required>
                    <label class="form-check-label" for="messenger_enabled_1">{{ translate "Yes" }}</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="messenger_enabled form-check-input" type="radio" name="messenger_enabled" id="messenger_enabled_2" value="false" required>
                    <label class="form-check-label" for="messenger_enabled_2">{{ translate "No" }}</label>
                </div>
            </div>
            <div id="slack-language" class="slack-language form-group">
                <label class="form-label">{{ translate "Slack message language" }}</label><br>
            </div>
            <div class="slack-channel form-group">
              <label for="slackChannel">{{ translate "Slack channel" }} </label>
                <input class="form-control" id="slackChannel" name="messenger_channel" placeholder="{{ translate "Please enter slack channel name" }}"  maxlength="255" required>
            </div>
            <div class="slack-token form-group">
                <label for="slackApiToken">{{ translate "Slack API token" }}</label>
                <input class="form-control" id="slackApiToken" name="messenger_token" placeholder="{{ translate "Please enter api token" }}" maxlength="255" required>
            </div>
            <input type="hidden" class="form-kind" name="messenger_kind" value="slack">
            <div class="button-group">
                <button class="slack-save btn" type="submit" ><span>{{ translate "Save" }}</span></button>
                <button class="slack-cancel btn btn-cancel" ><span>{{ translate "Cancel" }}</span></button>
            </div>
        </form>
        <h6 class="form-heading">{{ translate "General" }}</h6>
        <form id="general-form-container">
            <div class="form-group">
                <label for="postfixPublicIP">{{ translate "Postfix public IP" }}</label>
                <input class="form-control" id="postfixPublicIP" name="postfixPublicIP" aria-describedby="ipHelp" placeholder="{{ translate `Enter Postfix public IP` }}" maxlength="255">
                <small id="ipHelp" class="form-text text-muted">{{ translate "Please extract from your config file the ip address of postfix" }}</small>
            </div>
            <div class="button-group">
                <button class="general-save btn" type="submit" ><span>{{ translate "Save" }}</span></button>
                <button class="general-cancel btn btn-cancel" ><span>{{ translate "Cancel" }}</span></button>
            </div>
        </form>
    </div>

</div>

<footer id="normal-footer" class="mt-auto">
    <div class="container">
        <p class="thanks-using-lightmeter">{{translate "Thank you for using Lightmeter."}} &copy; <script>document.write(new Date().getFullYear())</script>.</p>
        <p class="privacy-Policy">
            &bull;
            <a href="https://lightmeter.io/privacy-policy/" target="_blank">
                {{translate "Privacy Policy"}}</a>
        </p>
        <p class="feedback">
            &bull;
            <a href=" mailto:hello@lightmeter.io?subject=Feedback%20on%20Lightmeter%20Control%20Center" onclick="_paq.push(['trackEvent', 'Feedback', 'clickMailTo']);" target="_blank">{{translate "Feedback"}}</a>
        </p>
        <div class="dropdown" id="app-language">
            <form id="languageForm">
                <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                </button>
                <input name="app_language" type="hidden" id="app-language-hidden">
                <div id="dropdown-menu-language" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                </div>
            </form>
        </div>
    </div>
</footer>

<!-- Boostrap dependencies -->
<script type="text/javascript" src="3rd/js/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="3rd/js/popper.min.js"></script>
<script type="text/javascript" src="3rd/js/bootstrap.min.js"></script>

<!-- Other 3rd party dependencies -->
<script type="text/javascript" src='3rd/js/plotly.min.js'></script>
<script type="text/javascript" src="3rd/js/moment.min.js"></script>
<script type="text/javascript" src="3rd/js/daterangepicker.min.js"></script>

<!-- App scripts -->
<script type="text/javascript" src='js/app.js'></script>

<!-- Lightmeter-hosted Matomo analytics -->
<script type="text/javascript">
    var _paq = window._paq || [];
    _paq.push(['setCustomDimension', 1, '{{appVersion}}']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://matomo.lightmeter.io/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>

<script type="module">
    import {submitGeneralForm} from "./js/util.js";
    import {AttachEventHandlerToLanguageForm} from "./js/util.js";
    import {CreateDropDown} from "./js/dropdown_language.js";

    CreateDropDown();

    $(document).ready(function() {

        async function submitNotificationsSettingsForm() {
            let notificationsSettingsFormData = new FormData(document.getElementById("notifications-form-container"))
            const response = await fetch("/settings?setting=notification", {method: 'post', body: new URLSearchParams(notificationsSettingsFormData)})
            const text = await response.text()

            if (!response.ok) {
                alert('{{ translate `Error on saving notification settings!` }}' + ' ' + text)
                return
            }

            alert('{{ translate `Saved notification settings` }}')
            _paq.push(['trackEvent', 'SaveNotificationSettings', 'success'])
        }

        function autoNotificationsFormFill(data) {
            document.getElementById('slackChannel').value = data["channel"];
            document.getElementById('slackApiToken').value = data["bearer_token"];
            let radioMessengerEnabledElements = document.getElementsByClassName("messenger_enabled");
            for (let i=0; i<radioMessengerEnabledElements.length; i++) {

                if (radioMessengerEnabledElements[i].getAttribute('value') === "true" && data["enabled"] === true) {
                    radioMessengerEnabledElements[i].checked = true;
                    break
                }

                if (radioMessengerEnabledElements[i].getAttribute('value') === "false" && data["enabled"] === false) {
                    radioMessengerEnabledElements[i].checked = true;
                    break
                }
            }
            autoFileLanguageRadioButton("messenger_language", data["language"])
        }

        function autoFileLanguageRadioButton(id, value) {
            let radioLanguageElements = document.getElementsByClassName(id);
            for (let i=0; i<radioLanguageElements.length; i++) {
                if (radioLanguageElements[i].getAttribute('value') === value) {
                    radioLanguageElements[i].checked = true;
                    break
                }
            }
        }

        function autoGeneralFormFill(data) {
            document.getElementById('postfixPublicIP').value = data["postfix_public_ip"];
            if (data["app_language"]) {
                let node = document.getElementById("dropdownMenuButton");
                node.innerHTML = '';
                document.getElementById( "app-language-hidden").value =  data["app_language"]
                let textnode = document.createTextNode(document.getElementById("dropdown-item-"+ data["app_language"]).getAttribute("languageKey"));
                node.appendChild(textnode);
            }
        }

        function GenerateLanguageList(id, prefix, languages) {
            let i = 1
            languages.forEach(function (language) {
                let div = document.createElement("div");
                div.classList.add("form-check");
                let radioButton = document.createElement("input");
                radioButton.classList.add("form-check-input");
                radioButton.classList.add(prefix+"_language");
                radioButton.setAttribute("type", "radio");
                radioButton.setAttribute("name", prefix+"_language");
                radioButton.setAttribute("value", language.value);
                radioButton.setAttribute("id",prefix+"_language_"+i);
                radioButton.setAttribute("required", "");
                div.appendChild(radioButton);
                let label = document.createElement("label");
                label.setAttribute("for", prefix+"_language_"+i);
                label.appendChild(document.createTextNode(language.key));
                div.appendChild(label);
                document.getElementById(id).appendChild(div);
                i++
            })
        }

        let slackNotificationsData = null
        let generalData = null


        fetch('/language/metadata')
            .then(response => response.json())
            .then(function (data) {
                GenerateLanguageList("slack-language", "messenger", data["languages"])

                fetch('/settings')
                    .then(response => response.json())
                    .then(function (data) {
                        slackNotificationsData = data["slack_notifications"]
                        autoNotificationsFormFill(slackNotificationsData)
                        generalData = data["general"]
                        autoGeneralFormFill(generalData)
                    }).catch(function(err) {
                    alert('{{ translate `Error get settings` }}')
                    console.log(err)
                });

            }).catch(function(err) {
                alert('{{ translate `Error get metadata` }}')
                console.log(err)
        });

        $('#notifications-form-container .slack-save').on('click', function (e) {
            var ele = document.getElementById("notifications-form-container");
            var chk_status = ele.checkValidity();
            ele.reportValidity();
            if (chk_status) {
                e.preventDefault();

                submitNotificationsSettingsForm();

                setTimeout(function () {
                    fetch('/settings')
                        .then(response => response.json())
                        .then(function (data) {
                            slackNotificationsData = data["slack_notifications"]
                            autoNotificationsFormFill(slackNotificationsData)
                            generalData = data["general"]
                            autoGeneralFormFill(generalData)
                        });
                }, 300)
            }
        })

        $('#general-form-container .general-save').on('click', function (e) {
            var ele = document.getElementById("general-form-container");
            var chk_status = ele.checkValidity();
            ele.reportValidity();
            if (chk_status) {
                e.preventDefault();

                submitGeneralForm("general-form-container", '{{ translate `Saved general settings` }}', '{{ translate `Error on saving general settings!` }}', null);

                setTimeout(function () {
                    fetch('/settings')
                        .then(response => response.json())
                        .then(function (data) {
                            slackNotificationsData = data["slack_notifications"]
                            autoNotificationsFormFill(slackNotificationsData)
                            generalData = data["general"]
                            autoGeneralFormFill(generalData)
                        });
                }, 300)
            }
        })

        $('#notifications-form-container .slack-cancel').on('click', function (e) {
            e.preventDefault();
            autoNotificationsFormFill(slackNotificationsData);
        })

        $('#general-form-container .general-cancel').on('click', function (e) {
            e.preventDefault();
            autoGeneralFormFill(generalData);
        })

        AttachEventHandlerToLanguageForm(null, '{{ translate `Error on saving general settings!` }}')
    });

</script>
<noscript><p><img src="https://matomo.lightmeter.io/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>

</body>
</html>
